body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  color: white;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: white;
  -webkit-text-stroke: 0.5px yellow;
}

h3 {
  font-family: Arial, sans-serif;
  text-align: start;
  color: white;
}
.description img {
  display: block;
  margin: 0 auto;
}
/* Самая лучшая еда в мире */
.pet {
  font-size: 22px;
  text-shadow: 1px 1px 2px yellow;
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% {
    color: yellow;
  }
  50% {
    color: #ffffff;
  }
  100% {
    color: yellow;
  }
}

#randomNumber {
  border: 3px solid yellow;
  border-radius: 16px;
  margin-top: 5px;
  animation: blinked 0.17s infinite;
  font-size: 22px;
}

@keyframes blinked {
  0% {
    border-color: rgb(0, 255, 38);
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: yellow;
  }
}

a {
  color: gold;
  text-decoration: none;
}
/* Если ты зашел сюда и решил взять код, то я дарю его тебе. Хьанал хуьйла! */

button {
  position: absolute;
  bottom: 350px;
  /* left: 50%; */
  transform: translateX(-50%);
  /* width: 170px;
  height: 50px;
  background-color: yellow; */
  margin-top: 100px;
  background: linear-gradient(45deg, #da74746d, #51c01959, #efef0a7f);
  background-size: 200% 200%;
  animation: gradientAnimation 1s infinite;
  border: 2px solid #dede19;
  border-radius: 10px;
  color: rgb(249, 255, 78);
  padding: 10px 20px;
  font-size: 20px;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#message {
  display: none;
  font-size: 29px;
  color: yellow;
  border: 3px solid yellow;
  border-radius: 20px;
 padding: 10px;
 animation: blink 2.3s infinite;
}

@keyframes blink {
  0% {
    border-color: yellow;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: yellow;
  }
}
